/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: url('https://www.reddit.com/media?url=https%3A%2F%2Fpreview.redd.it%2Fpolandball-map-of-europe-2022-v0-ulb15n0djvfa1.png%3Fauto%3Dwebp%26s%3Da15bec76a21da61a5f4033c68f1ec8e67ff9932d') no-repeat center center;
    background-size: cover;
    padding: 15px 0;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 50px;
    background: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#about {
    text-align: left;
}

footer {
    background: #333;
    color: white;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
